@namespace BlazorTable
@typeparam TableItem
@inherits FilterBase<TableItem, BooleanCondition>

@if (Column.FilterControl == this) {
	<select class="form-control form-control-sm mb-1" value="@Condition" @onchange="OnFilterChange">
		@foreach (var option in Options) {
			<option value="@option">@option.GetDescription()</option>
		}
	</select>
}