@namespace BlazorTable
@typeparam TableItem
@inherits FilterBase<TableItem, NumberCondition>

@if (Column.FilterControl == this) {
	<select class="form-control form-control-sm mb-1" value="@Condition" @onchange="OnFilterChange">
		@foreach (var option in Options) {
			<option value="@option">@option.GetDescription()</option>
		}
	</select>
	@if (Condition != NumberCondition.IsNull && Condition != NumberCondition.IsNotNull) {
		<input type="date" class="form-control form-control-sm" @bind-value="FilterValue" />
	}
}