@namespace BlazorTable
@typeparam TableItem
@inherits FilterBase<TableItem, StringCondition>

@if (Column.FilterControl == this) {
	<select class="form-control form-control-sm mb-1" value="@Condition" @onchange="OnFilterChange">
		@foreach (var option in Options) {
			<option value="@option">@option.GetDescription()</option>
		}
	</select>

	@if (Condition != StringCondition.IsNotNulOrEmpty && Condition != StringCondition.IsNullOrEmpty) {
		<input type="text" class="form-control form-control-sm" @bind-value="FilterText" />
	}
}